.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  @extend .nav-container;
  width: 100%;
  height: 88px;
}

.navbar__item-container {
  @extend .nav-container;
  flex-flow: row nowrap;
  gap: 32px;
}

.navbar__button-container {
  @extend .nav-container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
