.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  @extend .nav-container;
  width: 100vw;
  height: 88px;
  padding: 0px 144px 0px 144px;
}

.navbar__button-container {
  @extend .nav-container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
