// -----------------------------------------------------------------------------
// This file contains styles related to typography.
// -----------------------------------------------------------------------------

/**
 * General variables.
 */
$heading-font-stack: 'Cormorant Garamond', serif;
$body-font-stack: 'Montserrat', 'Open Sans', 'Helvetica Neue Light',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

/**
 * Mixins.
 */
@mixin heading($size) {
  font-family: $heading-font-stack;
  font-size: $size;
  font-weight: $font-weight-semibold;
  line-height: 125%;
  margin: 0;
  padding: 0;
}

@mixin body-copy($size, $weight) {
  font-family: $body-font-stack;
  font-size: $size;
  font-weight: $weight;
  line-height: 150%;
}

@mixin label($size, $weight) {
  font-family: $body-font-stack;
  font-size: $size;
  font-weight: $weight;
  line-height: 125%;
}

/**
 * Style definitions.
 */

/**
 * Headings.
 */
h1 {
  @include heading(40px);
}

h2 {
  @include heading(32px);
}

h3 {
  @include heading(24px);
}

h4 {
  @include heading(18px);
}

h5 {
  @include heading(14px);
}

/**
 * Body copy.
 */
.p1-r {
  @include body-copy($font-size-large, $font-weight-regular);
}

.p1-b {
  @include body-copy($font-size-large, $font-weight-medium);
}

.p2-r {
  @include body-copy($font-size-medium, $font-weight-regular);
}

.p2-b {
  @include body-copy($font-size-medium, $font-weight-medium);
}

.p3-r {
  @include body-copy($font-size-small, $font-weight-regular);
}

.p3-b {
  @include body-copy($font-size-small, $font-weight-medium);
}

/**
 * Labels.
 */

.l1-r {
  @include label($font-size-large, $font-weight-regular);
}

.l1-b {
  @include label($font-size-large, $font-weight-semibold);
}

.l2-r {
  @include label($font-size-medium, $font-weight-regular);
}

.l2-b {
  @include label($font-size-medium, $font-weight-semibold);
}

.l3-r {
  @include label($font-size-small, $font-weight-regular);
}

.l3-b {
  @include label($font-size-small, $font-weight-semibold);
}
